.box{
    margin-top: 150px;
    &-main{
        border-radius: 5px;
    padding: 30px 20px 25px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    transition: all .2s;
    border: 1px solid #d7dce1;
    img{
        height: 75px;
        width: 75px;
        margin-bottom: 15px;
        object-fit: contain;
    }
    a{
        position: relative;
        font-size: 16px;
        font-weight: 500;
        color: #000;
        text-decoration: underline;
        opacity: 0.7;
        transition: 0.2s;
        &:hover{
            opacity: 1;
        }
       
    }
    }
}