:root {
  --primary-color:#002C90;
  --secondary-color:#AAC4FF;
  --box-shadow: 0 10px 20px #111; 
}



* {
  font-family: 'Roboto', sans-serif;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html,
body {


  overflow-x: hidden;
  scroll-behavior:smooth;
  
}
p{
  font-size: 16px;
padding: 15px 0;
  line-height: 1.3em;
  text-align: left;
  color: #343434;
  
}
span{
  font-size: 16px;
}
h1{
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2em;
}

.h-100 {
  height: 100% !important;
  min-height: inherit;
}

.text-center {
  text-align: center;
}

img{
  max-width: 100%;
}


.custom-pagination {
  position: absolute;
  bottom: calc(50% - 200px);
  left: 15px;

  .swiper-pagination {
    display: flex;
    align-items: center;
    gap: 4px;

    &-horizontal.swiper-pagination-bullets {
      width: auto;

      .swiper-pagination-bullet {
    
      }
    }

    &-bullet {
      background-color: var(--secondary-color);
      width: 12px;
      height: 12px;
      opacity: 1;
      display: block;

      &-active {
        background-color: var(--primary-color);
        width: 16px;
        height: 16px;
        opacity: 1;
      }
    }
  }
}

.relative {
  position: relative;
}

.container {

  &.relative {

    top: -50vh;
  }
}

.swiper-container {
  &.main-header-slider {
    margin-top: -105px;
  }
}

/* akif end */


.header-white-bg{
  background: white!important;
}